* {
  margin: 0;
  padding: 0;
  font-family: "Permanent Marker", cursive, sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #131313;
  color: white;
}

.title {
  top: 0;
  left: 0;
  position: absolute;
  padding: 25px;
}

.title p {
  font-size: 12px;
  margin-top: 5px;
}

.buttons-container {
  display: flex;
}

.button:hover {
  cursor: pointer;
}

.button img {
  width: 125px;
  height: auto;
  margin: 20px;
}

.h1-score {
  margin-top: 30px;
}

.score-container {
  display: flex;
  padding: 30px;
  gap: 50px;
}

#htie,
#hwinner {
  opacity: 0;
}

#hwinner {
  margin-top: 30px;
}

/* Animations | Hover */
@media (hover: hover) {
  /* Pulse Grow 
  https://ianlunn.github.io/Hover/ */
  @-webkit-keyframes hvr-pulse-grow {
    to {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }

  @keyframes hvr-pulse-grow {
    to {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }

  .hvr-pulse-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }

  .hvr-pulse-grow:hover,
  .hvr-pulse-grow:focus,
  .hvr-pulse-grow:active {
    -webkit-animation-name: hvr-pulse-grow;
    animation-name: hvr-pulse-grow;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  }
}

/* Mobile */
@media screen and (max-width: 525px) {
  .title h1,
  .h1-score,
  #hyou,
  #hcomputer,
  #htie,
  #hwinner {
    font-size: 20px;
  }

  .buttons-container {
    margin-top: 80px;
  }

  .button img {
    width: 75px;
    margin: 8px;
  }

  .h1-score,
  #hwinner {
    margin-top: 15px;
  }

  .score-container {
    padding: 15px;
    gap: 35px;
  }

  #htie {
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
  }
}
