* {
  margin: 0;
  padding: 0;
  font-family: "Permanent Marker", cursive, sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #131313;
  color: white;
}

.mobile-container {
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #131313;
}

.mobile-container h1 {
  font-size: 18px;
  width: 80%;
  text-align: center;
  color: white;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 15px;
  top: 0;
  left: 0;
  position: absolute;
  padding: 25px;
}

.reset-button {
  padding: 15px;
  width: max-content;
  height: max-content;
  color: #111111;
  font: inherit;
  outline: inherit;
  cursor: pointer;
  border: none;
  transition: 300ms;
}

@media (hover: hover) {
  .reset-button:hover {
    transition: 300ms;
    background-color: #505050;
    color: #ffffff;
  }
}

.buttons-container {
  display: flex;
}

.button:hover {
  cursor: pointer;
}

.button img {
  width: 125px;
  height: auto;
  margin: 20px;
}

.score-container {
  display: flex;
  padding: 30px;
  gap: 50px;
}

#htie,
#hwinner {
  opacity: 0;
}

#hwinner {
  margin-top: 30px;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  align-items: center;
  /* text-align: center; */
  position: absolute;
  margin: 10px;
  bottom: 0;
}

footer a,
footer p {
  width: fit-content;
}

footer a,
footer span {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
}

footer a {
  transition: 300ms;
  text-decoration: none;
  color: #ffffff;
}

footer a:hover {
  transition: 300ms;
  color: #886ce4;
}

footer p {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  color: #8f8f8f;
  transition: 300ms;
  cursor: context-menu;
}

@media (hover: hover) {
  footer p:hover {
    transition: 300ms;
    color: #ffffff;
  }
}

/* Animations | Hover */
@media (hover: hover) {
  /* Pulse Grow 
  https://ianlunn.github.io/Hover/ */
  @-webkit-keyframes hvr-pulse-grow {
    to {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }

  @keyframes hvr-pulse-grow {
    to {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }

  .hvr-pulse-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }

  .hvr-pulse-grow:hover,
  .hvr-pulse-grow:focus,
  .hvr-pulse-grow:active {
    -webkit-animation-name: hvr-pulse-grow;
    animation-name: hvr-pulse-grow;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  }
}

/* Mobile */
@media screen and (max-width: 625px) {
  main {
    display: none;
  }

  .mobile-container {
    display: flex;
  }
}

/* @media screen and (max-width: 525px) {
  .title h2,
  .title h3,
  .title button {
    display: none;
  }

  .title h1,
  .title h2,
  .title h3,
  .h1-score,
  #hyou,
  #hcomputer,
  #htie,
  #hwinner {
    font-size: 18px;
  }

  .reset-button {
    font-size: 12px;
    padding: 5px;
  }

  .button img {
    width: 75px;
    margin: 8px;
  }

  .h1-score,
  #hwinner {
    margin-top: 15px;
  }

  .score-container {
    padding: 15px;
    gap: 35px;
  }

  #htie {
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
  }
} */
